* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
    background: red;
}

body {
    font-size: 0.36rem;
}

.wrap {
    width: 100%;
    padding-bottom: 1.02rem;
    position: relative;
    .main {
        flex: 1;
        height: 100%;
        h2 {
            width: 100%;
            height: 0.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            li {
                margin-left: 0.16rem;
                width: 31%;
                background: white;
                margin-bottom: 0.02rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img {
                    height: 1.04rem;
                }
            }
        }
    }
}